/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #52adc8;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site - Yang Zhang's Beautiful Style */
:root {
    --global-base-color                 : #7a8288;
    --global-bg-color                   : #fff;
    --global-border-color               : #f2f3f3;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #313130;
    --global-fig-caption-color          : #898c8f;
    --global-link-color                 : #52adc8;
    --global-link-color-hover           : #3d829b;
    --global-link-color-visited         : #7bc3d7;
    --global-masthead-link-color        : #4c5459;
    --global-masthead-link-color-hover  : #3a3f43;
    --global-text-color                 : #494e52;
    --global-text-color-light           : #898c8f;
    --global-thead-color                : #f2f3f3;
}